.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
   text-align: center;
  background-color: #2f74c0;
  font-family: "Neucha",cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px;
    column-gap: 20px;
    flex-wrap: wrap;
    max-width: 1100px;
   align-items:flex-start;
   
}

.todo_list_active_task{
  min-width: 300px;
  display: flex;
  flex: 1 1 40%;
  text-align: center;
  flex-direction: column;
  background-color: pink;
  padding: 10px;
  min-height: 50px;
   
}
.todo_list_completed_task{
  min-width: 300px;
  display: flex;
  flex: 1 1 40%;
  min-height: 50px;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  background-color: #eb6750;
}

.todo_list_header{

  text-align: center;
  display: inline-block;
  color: antiquewhite;
  font-family:'Lobster';
  font-size: x-large;
  margin:5px;

}

.app_title{
  font-size: xx-large;
}